  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #010101;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
        }

#tsparticles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
            }
            
header{
  display: flex;
  border-radius: 20px;
  width: 60%;
  height: 7%;
  z-index: 3;
  background: #79f5c11c;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-link{
  text-decoration: none;
  color: hsl(162, 100%, 88%);
  margin-left: 100px;
  margin-right: 100px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: translateX(-5px); /* Поднимаем изображение на 5px при наведении */
}



main{
    display: flex;
    width: 500px;
    height: 550px;
    border: 2px solid #08d3a4;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.update-project-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.update-project-form .form-title{
    margin: 20px 10px ;
}

.form-title{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.form-inputs{
    width: 100%;
}

.input-box{
    position: relative;
}

.input-field{
    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin: 10px 0 10px -20px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #79e6cc;
    border-radius: 10px;
    outline: none;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

::placeholder{
    color: #fff;
    font-size: 15px;
}

.input-box .icon{
    position: absolute;
    top: 50px;
    right: 15px;
    transform: translateY(-50%);
    color: #fff;
}

.input-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin: 15px 0;
    color: #fff;
    background: #013138;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .3s;
}

.input-submit:hover{
    gap: 20px;
}


footer{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 20px;
  width: 20%;
  height: 62px;
  z-index: 2;
  background: #79f5c12f;
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 0;
}

.social-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.social-box a {
  width: 50px; /* Фиксированная ширина для каждого элемента */
}

.social-box a img {
  transition: transform 0.3s ease;
}

.social-box a:hover img {
  transform: translateY(-7px); /* Поднимаем изображение на 5px при наведении */
}

.tooltip {
  color: #08d3a4; /* Цвет значка */
  cursor:pointer /* Курсор указывает на то, что это подсказка */
  /* Дополнительные стили, такие как фон, границы и т.д., могут быть добавлены здесь */
}

b[title]:hover::after {
    content: attr(title);
    background-color: #0a0a0a;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 10px;
    border: 0.5px solid #01ffaa;
    border-radius: 7px;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 100%;
    width: max-content;
    white-space: nowrap;
}