{% extends 'create_project.html' %}

{% block style %}<link rel="stylesheet" href="/css/account.css">{% endblock %}
{% block title %}Home{% endblock %}

{% block contents %}
<main>
    <form action="/home/account" method="POST" class="account-form">
        <div class="form-title">
            <span class="text-account">Аккаунт</span>
            <div class="form-inputs">
                <div class="input-box">
                    <input type="text" name="user_name" class="input-field" value="{{ user_name }}" required>
                    <i class="bx box-user icon"></i>
                </div>
                <div class="forgot-pass">
            <a href="/email_send">Сменить пароль?</a>
          </div>
                <div class="input-box">
                    <span class="text-account">Язык программирования</span><br>
                    <input id="python" type="checkbox" name="programming_languages" value="py" {% if 'py' in programming_languages %}checked{% endif %}>
                        <label for="python">py</label>
                    <input id="JavaScript" type="checkbox" name="programming_languages" value="js" {% if 'js' in programming_languages %}checked{% endif %}>
                        <label for="JavaScript">js</label>
                    <input id="Cs" type="checkbox" name="programming_languages" value="cs" {% if 'cs' in programming_languages %}checked{% endif %}>
                        <label for="Cs">cs</label>
                    <input id="Php" type="checkbox" name="programming_languages" value="php" {% if 'php' in programming_languages %}checked{% endif %}>
                        <label for="Php">php</label>
                    <input id="Java" type="checkbox" name="programming_languages" value="java" {% if 'java' in programming_languages %}checked{% endif %}>
                        <label for="Java">java</label>
                </div>
                <div class="input-box">
                    <input id="Go" type="checkbox" name="programming_languages" value="go" {% if 'go' in programming_languages %}checked{% endif %}>
                        <label for="Go">go</label>
                    <input id="TypeScript" type="checkbox" name="programming_languages" value="ts" {% if 'ts' in programming_languages %}checked{% endif %}>
                        <label for="TypeScript">ts</label>
                    <input id="Kotlin" type="checkbox" name="programming_languages" value="kt" {% if 'kt' in programming_languages %}checked{% endif %}>
                        <label for="Kotlin">kt</label>
                    <input id="Ruby" type="checkbox" name="programming_languages" value="rb" {% if 'rb' in programming_languages %}checked{% endif %}>
                        <label for="Ruby">rb</label>
                    <input id="Swift" type="checkbox" name="programming_languages" value="swift" {% if 'swift' in programming_languages %}checked{% endif %}>
                        <label for="Swift">swift</label>
                </div><br>
                <div class="input-box">
                    <span class="text-account">Направление</span><br>   
                    <input id="FrontEnd" type="checkbox" name="directions" value="FrontEnd" {% if 'FrontEnd' in directions %}checked{% endif %}>
                        <label for="FrontEnd">Frontend</label>
                    <input id="Game" type="checkbox" name="directions" value="Game-dev" {% if 'Game-dev' in directions %}checked{% endif %}>
                        <label for="Game">Game-dev</label>
                </div>
                <div class="input-box">
                    <input id="BackEnd" type="checkbox" name="directions" value="Backend" {% if 'Backend' in directions %}checked{% endif %}>
                        <label for="BackEnd">Backend</label>
                    <input id="QAEngineer" type="checkbox" name="directions" value="QA-Engin" {% if 'QA-Engin' in directions %}checked{% endif %}>
                        <label for="QAEngineer">QA-Engin</label>
                </div><br>
                <div class="input-box">
                    <button type="submit" class="input-submit">
                        <span>Обновить</span>
                        <i class="bx box-right-arrow-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}