{% extends 'index.html' %}

{% block style %}<link rel="stylesheet" href="/css/confirm_email.css">{% endblock %}
{% block title %}confirm-code{% endblock %}

{% block contents %}
<div class="container">
    <form action="/confirm_code" method="POST" class="confirm-code-form">
      <div class="form-title">
        <span class="text-login">Введите код подтверждения</span>
        <div class="form-inputs">
          <div class="input-box">
            <input type="text" name="confirmation_code" class="input-field" placeholder="Код" required>
            <i class="bx box-user icon"></i>
          </div>
          <div class="input-box">
            <button type="submit" class="input-submit">
              <span>Подтвердить</span>
              <i class="bx box-right-arrow-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
</div>
{% endblock %}